---
import Layout from '../../layouts/Layout.astro';
import TableWindow from '../../components/TableWindow.astro';
import ListWindow from '../../components/ListWindow.astro';
import Window from '../../layouts/Window.astro';

import * as data from '../../data/pugs.json';

const { screennames, aesthetic, trait, ideal, secret, reason } = data;

---

<!-- 
    TODO
    Collapsible windows
-->
<Layout title="PUGs">
  <section class="container mx-auto flex flex-wrap sm:basis-1/12 justify-center md:justify-between">
      <Window title="RNG" classes="flex-shrink ml-0">
          <div class="window-pane text-center">
              <button class="btn large" id="generate-pug">Roll PUG</button>
          </div>
      </Window>
      <div class="md:basis-2/5 flex-shrink standard-dialog center mx-2" id="rolled-weather">
          <!-- <h1 class="dialog-text">Generated NPC Details <button class="btn text-xs float-right mx-2">View NPC History</button></h1> -->
            <p class="dialog-text">Screenname: <span id="pug-screenname"></span></p>
            <p class="dialog-text">Aesthetic: <span id="pug-aesthetic"></span></p>
            <p class="dialog-text">Trait: <span id="pug-trait"></span></p>
            <p class="dialog-text">Ideal: <span id="pug-ideal"></span></p>
            <p class="dialog-text">Secret: <span id="pug-secret"></span></p>
            <p class="dialog-text">Reason: <span id="pug-reason"></span></p>
      </div>
  </section>
  <section class="clear-both flex items-start flex-wrap justify-around">
    <ListWindow title="Screen Names" listData={screennames} classes="md:basis-2/12" columns=2 listClasses="list-decimal ml-2 columns-2 gap-10" />
    <ListWindow title="Aesthetic" listData={aesthetic} classes="md:basis-2/12" listClasses="list-decimal ml-2" />
    <ListWindow title="Trait" listData={trait} classes="md:basis-2/12" listClasses="list-decimal ml-2" />
    <ListWindow title="Ideal" listData={ideal} classes="md:basis-2/12" listClasses="list-decimal ml-2" />
    <ListWindow title="Secret" listData={secret} classes="md:basis-2/12" listClasses="list-decimal ml-2" />
    <ListWindow title="Reason" listData={reason} classes="md:basis-2/12" listClasses="list-decimal ml-2" />
  </section>
</Layout>

<script>
    import * as data from '../../data/pugs.json';

    const { screennames, aesthetic, trait, ideal, secret, reason } = data;

    let random = [];

    function generatePUG() {
        random.unshift(
            [
                Math.floor(Math.random() * screennames.length+1),
                Math.floor(Math.random() * aesthetic.length+1),
                Math.floor(Math.random() * trait.length+1),
                Math.floor(Math.random() * ideal.length+1),
                Math.floor(Math.random() * secret.length+1),
                Math.floor(Math.random() * reason.length+1)
            ]
        );

        let generated = {
            screenname: screennames[random[0][0]],
            aesthetic: aesthetic[random[0][1]],
            trait: trait[random[0][2]],
            ideal: ideal[random[0][3]],
            secret: secret[random[0][4]],
            reason: reason[random[0][5]],
        }

        document.getElementById("pug-screenname").innerText = generated.screenname;
        document.getElementById("pug-aesthetic").innerText = generated.aesthetic;
        document.getElementById("pug-trait").innerText = generated.trait;
        document.getElementById("pug-ideal").innerText = generated.ideal;
        document.getElementById("pug-secret").innerText = generated.secret;
        document.getElementById("pug-reason").innerText = generated.reason;
    }

    document.getElementById("generate-pug").addEventListener("click", () => {
        generatePUG();
    });
</script>
