---
import Window from "../layouts/Window.astro";
// Component Script (JavaScript)
const { title, spell, classes } = Astro.props;
---

<!-- Component Template (HTML + JS Expressions) -->
<Window title={title} classes="md:basis-1/5">
  <div class="details-bar text-xs text-right">
    skill: {spell.skill}; cost: {spell.cost}
  </div>
  <div class="window-pane">
    <div class="my-2">
      <span class="mr-3">{spell.name}</span> {spell.description}
    </div>
  </div>
</Window>
