---
import Window from "../layouts/Window.astro";
import TableRow from "../components/TableRow.astro";
import { map } from "astro/zod";
// Component Script (JavaScript)
const { title, tableData, tableLabels, tableClasses, pretext } = Astro.props;
---

<!-- Component Template (HTML + JS Expressions) -->
<Window title={title} classes="window">
  <div class="window-pane">
    { pretext && <div class="flex flex-1">{pretext.map((text) => <div class="standard-dialog text-sm mb-4">{pretext}</div>)}</div>}
    <table class:list={["table-auto", tableClasses]}>
      <thead class="hidden md:table-header-group">
        <tr class="bg-slate-200">
          {tableLabels.map((label) => <th>{label}</th>)}
        </tr>
      </thead>
        <tbody>
          {tableData.map((row) => <TableRow rowData={Object.values(row)} labels={tableLabels} />)} 
        </tbody>
    </table>
  </div>
</Window>
